<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="GetOrdersUrl" value="http://localhost:34531/order/list" />
    <add key="UpDataOrderUrl" value="http://localhost:38456/order/UpdataOrder" />
  </appSettings>
</configuration>